@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Neuve";
  src: url("/fonts/NeueHaasDisplayLight.ttf") format("truetype");
}

@font-face {
  font-family: "FreightBigProBold";
  src: url("/fonts/Works.woff2") format("opentype");
}

body {
  font-family: "Neuve", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.hero-text span {
  font-style: normal !important;
}
a.centro {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

a.centro:after {
  content: "";
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  transition: all 0.5s;
}
.overlay {
  position: absolute;
  inset: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 300ms;
}

.overlay.visible {
  opacity: 1;
}

a.centro:hover:after {
  width: 100%;
  background: #000;
}
.para {
  line-height: 2.7rem;
}
@media (max-width: 768px) {
  .menu-large {
    display: none;
  }
  .para {
    line-height: 1.5rem;
  }
}
